[submodule "lottery/contract/lib/forge-std"]
	path = lottery/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lottery/contract/lib/openzeppelin-contracts"]
	path = lottery/contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
